scripts/julius-nodered-sample.json
[{"id":"6913b755.870908","type":"tcp in","z":"5fdb3f9.081b0c","name":"","server":"client","host":"localhost","port":"10500","datamode":"stream","datatype":"utf8","newline":".\\n","topic":"","base64":false,"x":170,"y":100,"wires":[["e55ff5f5.f774e8"]]},{"id":"e55ff5f5.f774e8","type":"xml","z":"5fdb3f9.081b0c","name":"","property":"payload","attr":"","chr":"","x":350,"y":100,"wires":[["b99d0680.71c748"]]},{"id":"6742f71b.2772c8","type":"debug","z":"5fdb3f9.081b0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.RECOGOUT.SHYPO[0].WHYPO[0].$.WORD","targetType":"msg","x":570,"y":180,"wires":[]},{"id":"b99d0680.71c748","type":"switch","z":"5fdb3f9.081b0c","name":"","property":"payload.RECOGOUT","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"true","repair":false,"outputs":1,"x":250,"y":180,"wires":[["6742f71b.2772c8"]]}]